.w{width:100%;}.w9{width:90%;}.w8{width:80%;}.w7{width:70%;}.w6{width:60%;}.w5{width:50%;}.w4{width:40%;}.w3{width:30%;}.w2{width:20%;}.w1{width:10%;}
.h{height:100%;}.h9{height:90%;}.h8{height:80%;}.h7{height:70%;}.h6{height:60%;}.h5{height:50%;}.h4{height:40%;}.h3{height:30%;}.h2{height:20%;}.h1{height:10%;}
.ma{margin:auto;}
.tc{text-align:center;}.tl{text-align:left;}.tr{text-align:right;}
.df{display: flex;}.dn{display:none;}.db{display: block;}.dib{display: inline-block;}
